<html>
    <head>
        <title>The Missions</title>
        <link rel="stylesheet" style="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" style="text/css" href="/stylesheets/app.css">
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css">
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js" type="text/javascript"></script>


    </head>
    
    <body>
        <!--<p>FROM THE HEADER FILE!</p>-->
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>The Missions</div>
                <a href="/" class="item">Home</a>
                <a href="/missions/new" class="item">Post Mission</a>
            </div>
   
        </div>
    
