<% include ./partials/header %>


 <div class="container pad-body">
    <div class="row ">

        <div class="col-sm-6 col-sm-border login-main">
            <div class="login-box">
                <h1>Login</h1>
                 <form action="/" method="POST">
                  <div class="input-group input-field">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                  </div>
                  <div class="input-group input-field">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                  <div class="input-group input-field">
                      <button class="btn btn-large btn-success">Submit</button>
                  </div>
                </form> 
            </div>
        </div>

        <div class="col-sm-6 col-sm-border login-main">
            <div class="login-box">
                <h1>Register</h1>
                 <form action="/" method="POST">
                  <div class="input-group input-field">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                  </div>
                  <div class="input-group input-field">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                  </div>    
                  <div class="input-group input-field">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Re-enter password">
                  </div>
                  <div class="input-group input-field">
                      <button class="btn btn-large btn-success">Submit</button>
                  </div>
                </form> 
            </div>
        </div>
    </div>
</div> 


<div class="ui main text container">
    <div class="ui huge centered header">
        <h1>Login</h1>
    </div>    
    <div class="ui top attached">
        <form action="/login" method="POST">
            <div class="content">
                <input type="text" name="username" placeholder="username">
            </div>  
            <div class="content">
                <input type="password" name="password" placeholder="password">
            </div>

            <input class="ui big basic blue button" type="submit">
        </form>
    </div>

</div>

<% include ./partials/footer %>