<% include ./partials/header %>

<style type="text/css">
    .input-xlarge{
        width: 300px;
    }    
    .input-textbox-xlarge{
        height: 150px;
    }
</style>

<form class="pad-body-form form-horizontal" action='/missions' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Post A New Mission</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label" for="username">Mission Title</label>
      <div class="controls">
        <input type="text" name="mission[title]" placeholder="" class="input-xlarge" required>
        <p class="help-block">Mission title (not more than 40 characters)</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Desc -->
      <label class="control-label" for="desc">Descriptions</label>
      <div class="controls">
        <textarea name="mission[details]" placeholder="" class="input-xlarge input-textbox-xlarge" required></textarea>
        <p class="help-block">Write about your mission</p>
      </div>
    </div>

 <div class="control-group">
    <label class="control-label">Due Date</label>
    <div class="controls input-append date form_datetime" data-date="" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
        <input size="16" type="text" value="" name="mission[date_due]" class="input-xlarge" readonly>
        <span class="add-on"><i class="icon-remove"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <input type="hidden" id="dtp_input1" value="" />
    <p class="help-block">Give a deadline to the mission</p>
</div>
 
    <div class="control-group">
      <!-- Category-->
      <label class="control-label" for="category">Category</label>
      <div class="controls">
        <input type="text" id="category" name="mission[category]" placeholder="" class="input-xlarge">
        <p class="help-block">Category e.g. Buy/Sell/Delivery/Errand etc.</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Reward-->
      <label class="control-label" for="reward">Reward</label>
      <div class="controls">
        <input type="text" id="reward" name="mission[reward]" placeholder="" class="input-xlarge">
        <p class="help-block">Reward e.g. RM 5.00</p>
      </div>
    </div>



    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Submit</button>
      </div>
    </div>
  </fieldset>
</form>


<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "yyyy/mm/dd hh:ii"
    });
</script>   



<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>


<% include ./partials/footer %>