<% include ./partials/header %>

<form class="pad-body-form form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Post A New Mission</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label" for="username">Mission Title</label>
      <div class="controls">
        <input type="text" name="mission[title]" placeholder="" class="input-xlarge" required>
        <p class="help-block">Mission title (not more than 40 characters)</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Desc -->
      <label class="control-label" for="desc">Descriptions</label>
      <div class="controls">
        <textarea name="mission[details]" placeholder="" required></textarea>
        <p class="help-block">Write about your mission</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Category-->
      <label class="control-label" for="category">Category</label>
      <div class="controls">
        <input type="text" id="category" name="mission[category]" placeholder="" class="input-xlarge">
        <p class="help-block">Category e.g. Buy/Sell/Delivery/Errand etc.</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Reward-->
      <label class="control-label" for="reward">Reward</label>
      <div class="controls">
        <input type="text" id="reward" name="mission[reward]" placeholder="" class="input-xlarge">
        <p class="help-block">Reward e.g. RM 5.00</p>
      </div>
    </div>
 
 
    <div class="control-group">
        <!-- due date -->
      <label class="control-label"  for="due_date">Due Date</label>
      <div class="controls">
        <input type="date" id="datepicker" class="input-xlarge" name="mission[due_date]">
        <!-- <input type="date" id="due_date" name="mission[date_due]" placeholder="" class="input-xlarge"> -->
        <p class="help-block">Give a deadline of the mission</p>
      </div>
    </div>
 
 <div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <input type='text' id="" class="input-xlarge">
                <div id="datetimepicker12"></div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>
</div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Submit</button>
      </div>
    </div>
  </fieldset>
</form>



<!-- <div class = "ui main main-padding text container segment"> -->
<div class = "ui main text container">
    <div class="ui huge header">New Mission</div>
    <form class="ui form" action="/missions" method="POST">
        <div class="field">
            <label>Mission Title</label>
            <input type="text" name="mission[title]" placeholder="Title" required>
        </div>
<!--         <div class="field">
            <label>Image URL</label>
            <input type="text" name="mission[image]" placeholder="Image URL (leave blank for default image)">
        </div> -->
        <div class="field">
            <label>Details</label>
            <textarea name="mission[details]" required></textarea>
            <!--<input type="text" name="blog[body]" placeholder="body post goes here">-->
        </div>



        <div class="field">
            <label>Category</label>
            <select name="mission[category]">

                <% missionCategories.forEach(function(category){ %>
                    <option> <%= category %> </option>
                <% }); %>
                
            </select> 
        </div>   
                    

        <div class="field">
            <label>Due Date</label>
            <div class="ui calendar" id="example14">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input id="duedateid" type="date" name="mission[date_due]" value="" placeholder="Select date/time below" readonly="readonly" required>
                </div>
            </div>

        </div>

        <div class="field">
            <label>Reward/Bounty</label>
            <input type="text" name="mission[reward]" placeholder="Reward amount" required>
        </div>
<!--         <div class="field">
            <label>Author (not necessary when signed in)</label>
            <input type="text" name="mission[author]" placeholder="Author name">
        </div> -->
        
        <input class="ui big basic violet button" type="submit" onClick="return empty()">
        
    </form>
</div>

<!-- <script type="text/javascript">
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
 -->

<script type="text/javascript">
    
    $('#example14').calendar({
      inline: true
    });

    function empty() {
        var x;
        x = document.getElementById("duedateid").value;
        var y = new Date(x);
        var today = new Date();
        // alert(x);

        if (x == "") {
            alert("Enter a date.");
            return false;
        }else if(Date.parse(y) < Date.parse(today)){
            alert("Enter a valid date. Due date > Today's date.");
            return false;
        }else{
            return true;
        }

        alert(x < Date());

    }

</script>

<% include ./partials/footer %>