/*.bounty:hover{
	border-width: 2px;
	border-radius: 30%;
}
*/
.pad-body-form{
	padding: 120px 100px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.login-main{
	padding-top: 100px;

}

.login-box:nth-child(1){
	padding: 10px 10px;
	border-right: solid;
	border-color: #91bbff;


}

.input-field{
	padding: 10px 0px;

}

.missionmodal{

	  -webkit-filter: grayscale(60%);
   -moz-filter: grayscale(60%);
   filter: grayscale(60%);
   transition: all 0.5s ease;


    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.missionmodal:hover{
	-webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
	zoom: 130;
	/*-o-transition: .5s ease-in-out;*/
	transition: all 0.8s;
}

.mission-post{
	border: solid;
	border-color: rgb(249, 213, 134);
	background-color: rgba(249, 213, 134, 0.7);
	margin: 10px 0px;
	height: 170px;
	padding-top: 5px;
	padding-left: 10px;
	/*min-height: 100%;*/
}


#leftshopcart{
	/*padding-right: 7px;*/

}

i.icon{
    
    font-size: 2em;
}

.container.main{
    margin-top: 7.0em;
}

.main-padding{
	padding: 70 50px;
}

.icon-padding{
	padding-top: 10px;

}

.button-padding{
	padding-top: 2em;
}

.mission-details{
	padding-top: 1em;
	font-size: 1.3em;

}

.padding-1em{
	padding-top: 1em;
}

.right-text{
	float: right;
	padding-right: 1em;
}

.left-text{
	float: left;
	padding-right: 1em;
}

#deleteform{
    display: inline;
}



